@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --color-navy-primary: #030712; /* Deep Obsidian Black */
  --color-electric-accent: #FF3366; /* Modern Neon Crimson/Red */
}

body {
  font-family: var(--font-sans);
}